@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Collecting.Models.Collection>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Start"]</h1>
    <p>@Localizer["Learn"]</p>
    <table class="table">
        <tr><th>@Localizer["Name"] </th><th>@Localizer["Author"] </th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> <a asp-action="Items" asp-controller="Home" asp-route-id=@item.Id>@item.Name</a> </td>
                <td>@item.UserId</td>
            </tr>
        }
    </table>
    <a asp-action="Create">@Localizer["Add"]</a>
</div>
